<app-header></app-header>
<!-- admin.component.html -->
<div class="admin-panel">
  <div class="panel-header">
    <h1>PANEL DE ADMINISTRACIÓN</h1>
  </div>
  
  <div class="button-container">
    <div class="button-card" routerLink="/blog">
      <div class="card-icon">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <h3>BLOGS</h3>
    </div>
    <div class="button-card" routerLink="/experiences">
      <div class="card-icon">
        <i class="fas fa-briefcase"></i>
      </div>
      <h3>EXPERIENCIA</h3>
    </div>
    <div class="button-card" routerLink="/images">
      <div class="card-icon">
        <i class="fas fa-images"></i>
      </div>
      <h3>IMÁGENES</h3>
    </div>
    <div class="button-card" routerLink="/projects">
      <div class="card-icon">
        <i class="fas fa-project-diagram"></i>
      </div>
      <h3>PROYECTOS</h3>
    </div>
    <div class="button-card" routerLink="/skills">
      <div class="card-icon">
        <i class="fas fa-cogs"></i>
      </div>
      <h3>SKILLS</h3>
    </div>
    <div class="button-card" routerLink="/sociallinks">
      <div class="card-icon">
        <i class="fas fa-link"></i>
      </div>
      <h3>REDES</h3>
    </div>
    <div class="button-card" routerLink="/testimonials">
      <div class="card-icon">
        <i class="fas fa-comment-alt"></i>
      </div>
      <h3>OPINIONES</h3>
    </div>
  </div>
</div>
<app-footer></app-footer>
