<app-header></app-header>

<div class="main-container">
  <div class="create-blog-container">
    <h2 class="blog-header">Crear Nuevo Blog</h2>

    <form (ngSubmit)="onSubmit()" class="blog-form" #blogForm="ngForm">
      <div class="form-group">
        <label for="title">Título:</label>
        <input 
          type="text" 
          id="title" 
          [(ngModel)]="blogPost.title" 
          name="title" 
          required 
          #title="ngModel" 
        />
        <div *ngIf="title.invalid && (title.touched || blogForm.submitted)" class="error-message">
          <p>El título es obligatorio y debe tener al menos 3 caracteres.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="content">Contenido:</label>
        <textarea 
          id="content" 
          [(ngModel)]="blogPost.content" 
          name="content" 
          rows="5" 
          required 
          #content="ngModel">
        </textarea>
        <div *ngIf="content.invalid && (content.touched || blogForm.submitted)" class="error-message">
          <p>El contenido es obligatorio y debe tener al menos 10 caracteres.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="author">Autor:</label>
        <input 
          type="text" 
          id="author" 
          [(ngModel)]="blogPost.author" 
          name="author" 
          required 
          #author="ngModel" 
        />
        <div *ngIf="author.invalid && (author.touched || blogForm.submitted)" class="error-message">
          <p>El autor es obligatorio.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl">URL de Imagen:</label>
        <input 
          type="text" 
          id="imageUrl" 
          [(ngModel)]="blogPost.imageUrl" 
          name="imageUrl" 
          #imageUrl="ngModel" 
        />
        <div *ngIf="imageUrl.invalid && (imageUrl.touched || blogForm.submitted)" class="error-message">
          <p>Debes proporcionar una URL válida para la imagen.</p>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="submit-btn" [disabled]="blogForm.invalid" aria-label="Guardar Blog">
          <i class="fas fa-save"></i>
        </button>
        <button type="button" class="cancel-btn" (click)="cancel()" aria-label="Cancelar">
          <i class="fas fa-times"></i>
        </button>
      </div>      
    </form>
  </div>
</div>

<app-footer></app-footer>
